<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Chibuike Princewill Ezekude || Laravel/PHP Web Developer</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/nav_icon.png' %}">
    <!-- CSS 
    ============================================ -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/aos.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/feature.css' %}">
    <!-- Style css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body class="template-color-1 home-vedio spybody" data-spy="scroll" data-target=".navbar-example2" data-offset="150">
    

    <!-- Start Main Page Wrapper -->
    <main class="main-page-wrapper">


        <div class="rn-slider-area" style="padding-bottom: 20px !important">
        <div class="slide slider-style-1 with-square-box" style="padding-bottom: 20px !important">
            <div class="container">
                <div class="row row--30 align-items-center">

                    <div class="col-md-12">
                        <div class="content">
                            
                            <div class="inner">
                                <img src="{{ site.display_image }}" alt="Personal Portfolio Images" width="100px" style="border: 2px solid #fff; border-radius: 5px;">
                                <br>
                                <br>
                                <span>{{ site.greeting }}</span>
                                <h1 class="title">{{ site.headline }}</h1>
                                <div>

                                    <div class="description">
                                        {{ site.description|safe }}
                                    </div>

                                    <h3 style="font-size: 30px; margin-top: 24px;">{{ site.contact_heading }}</h3>
                                    {% if site.email %}<a href="mailto:{{ site.email }}">{{ site.email }}</a>{% endif %}
                                    <br>
                                    <br>
                                    {% if site.resume_file %}<a class="rn-btn" href="{{ site.resume_file.url }}" target="_blank" style="color: #fff;">My Resume</a>{% endif %}
                                    {% if site.github_url %}<a class="rn-btn" href="{{ site.github_url }}" target="_blank" style="color: #fff;">Github Profile</a>{% endif %}

                                    <div class="social-share-inner-left">
                                        <br>
                                        <ul class="social-share d-flex liststyle">
                                            {% if site.twitter_url %}<li class="twitter"><a href="{{ site.twitter_url }}"><i data-feather="twitter" target="_blank"></i></a></li>{% endif %}
                                            {% if site.linkedin_url %}<li class="linkedin"><a href="{{ site.linkedin_url }}" target="_blank"><i data-feather="linkedin"></i></a></li>{% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding: 20px;">
        <div class="row">
            <div class="rn-skill-area section-height">
                <div class="inner slide">
                    <!--<h5 class="title">-->
                    <!--    My Skills-->
                    <!--</h5>-->
                    <div class="skill-share-inner pt--50">
                        <span class="title">Primary Skills on</span>
                        <ul class="skill-share d-flex liststyle">
                            {% for skill in skills %}
                            <li><img src="{{ skill.display_icon }}" alt="{{ skill.name }}"></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rn-portfolio-area rn-section-gap section-separator" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <!-- <span class="subtitle">Visit my portfolio and keep your feedback</span>
                        <h2 class="title">My Projects</h2> -->
                    </div>
                </div>
            </div>

            <div class="row row--25 mt--10 mt_md--10 mt_sm--10">

                {% for project in projects %}
                <div data-aos="fade-up" data-aos-delay="100" data-aos-once="true" class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30">
                    <div class="rn-portfolio">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="{{ project.get_absolute_url }}">
                                    <img src="{{ project.display_image }}" alt="{{ project.title }}">
                                </a>
                            </div>
                            <div class="content">
                                <div class="category-info">
                                    <div class="category-list">
                                        <a href="{{ project.get_absolute_url }}">{{ project.title }}</a>
                                    </div>
                                    <!-- <div class="meta">
                                        <span><a href="{{ project.get_absolute_url }}"><i class="feather-heart"></i></a> 600</span>
                                    </div> -->
                                </div>
                                <p>{{ project.description }}</p>
                                <a href="{{ project.get_absolute_url }}">view details<i class="feather-arrow-up-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-12 text-center mt--50">
                    <p>No projects published yet. Add some from the admin.</p>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

    </main>

    <!-- Start Footer Area -->
    <div class="rn-footer-area rn-section-gap section-separator">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-area text-center">

                        <div class="logo">
                            <a href="./">
                                <img src="{{ site.display_image }}" alt="user icon">
                            </a>
                        </div>

                        <p class="description mt--30">© {% now "Y" %} {{ site.footer_text }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Area -->

<!-- JS ============================================ -->
<script src="{% static 'assets/js/vendor/jquery.js' %}"></script>
<script src="{% static 'assets/js/vendor/modernizer.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/feather.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/slick.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/bootstrap.js' %}"></script>
<script src="{% static 'assets/js/vendor/text-type.js' %}"></script>
<script src="{% static 'assets/js/vendor/wow.js' %}"></script>
<script src="{% static 'assets/js/vendor/aos.js' %}"></script>
<script src="{% static 'assets/js/vendor/particles.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-one-page-nav.js' %}"></script>
<!-- main JS -->
<script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>
